.header {
    width: 100%;
    height: var(--header-height);
    background-image: linear-gradient(0, #ff1c1c, #ff5200);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    display: flex;
    list-style: none;
    padding-left: 0px;
}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
}


/* pointer QR code */
.header__navbar-pointer-qrcode:hover .header__navbar-qrcode {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-item-icon {
    text-decoration: none;
    color: var(--white-color);
    cursor: pointer;
}

.header__navbar-name-notify {
    cursor: pointer;
}

/* Hover for icon fb & instagram */
.fa-facebook:hover,
.fa-instagram:hover {
    color: rgba(255,255,255,0.7);
}

.header__navbar-item:hover,
.header__navbar-item-link:hover {
    color: rgba(255,255,255,0.7);
}
    
.header__navbar-item--bold {
    font-weight:600;
}

.header__navbar-item--separate::after {
    content: "";
    position: absolute;
    display: block;
    border-left: 1px solid #FB9086;
    height: 16px;
    right: -9px;
    top: 55%;
    transform: translateY(-50%);
}

.header__navbar-item-label--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header QR code */
.header__navbar-qrcode {
    width: 186px;
    position: absolute;
    left: 0;
    top: 135%;
    border-radius: 2px;
    padding: 8px;
    background-color: var(--white-color);
    display: none;
    will-change: opacity;
    animation: Time-qr ease-in 0.2s;
}

.img__qr-code {
    width: 100%;
}

.qr_apps {
    display: flex;
    justify-content: space-evenly;
}
.img__downloads {
    height: 16px;
}

/* This block acts as a bridge to hover */
.header__navbar-qrcode::before {
    content: "";
    position: absolute;
    left: 0px;
    top: -5px;
    width: 100%;
    height: 16px;
}

/* CSS Notify */
.header__notify {
    position: absolute;
    top: 160%;
    width: 404px;
    border: 1px solid #c3bebe;    
    background-color: var(--white-color);
    right: 0;
    /*  transform-origin: calc(100% - 20px) top;  // ==> TRUE
        transform-origin: calc(100%-20px) top; // ==> FALSE
    ======> Mean: There must be a space between calculations
    */  
    will-change: opacity, transform;
    transform-origin: calc(100% - 20px) top;
    animation: header__notify-show ease-in 0.2s;
    display: none;
}

/* triangle */
.header__notify::before {
    content: "";
    border: 20px solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 12px;
    top: -30px;
}

/* bridge */
.header__notify::after {
    content: "";
    position: absolute;
    top: -20px;
    right: -1px;
    width: 91px;
    height: 30px;
}

.header__notify-show:hover .header__notify{
    display: block;
}

@keyframes header__notify-show {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 40px;
    user-select: none;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {

}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: var(--primary-color-rgba);
}

.header__notify-link {
    display: flex;    
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
}

.header__notify-info {
    padding: 10px;
}

.header__notify-name {
    display: block;
    color: var(--black-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.header__notify-descript {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #888;
    /* margin-top bị xung đột với thằng padding ở trên */
    /* margin-top: 2px; */
}

.header__notify-footer {
    text-align: center;
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 48px;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 600;
}

/* authen modal */
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    /* when the child object is outside the parent object, 
    the html will still work, so to hide it, use: overflow: hidden; */
    overflow: hidden;
    border-radius: 5px;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* register */
.auth-form__heading {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--text-color);
}

/* btn login */
.auth-form-switch-btn {
    font-size: 1.7rem;
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
}

.auth-form-form {

}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid #bdbdbd;
    border-radius: 2px;
}

.auth-form__aside {
    margin-top: 16px;
}

.auth-form__policy-text {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 2rem;
    text-align: center;
    padding: 0 4px;
} 

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
    text-align: center;
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.btn--back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials--fb {
    background-color: rgb(0, 115, 255);
    color: var(--white-color);
}

.auth-form__socials--gg {
    color: #666;
    background-color: var(--white-color);
}

.auth-form__socials--tittle {
    margin: 0 32px;
}

.auth-form__help {
    display: flex;
    justify-content: end;
    text-decoration: none;
}

.auth-form__help-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
}

.auth-form__help-link.auth-form__help-link--help {
    color: var(--primary-color);
}

.auth-form__help-separate {
    display: block;
    border-left: 1px solid #c3bebe;
    height: 18px;
    margin: 0 15px;
}

/* Header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
}

.header__search {
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__cart {
    width: 150px;
    /* Tự động căn giữa thẻ con */
    text-align: center;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
}

.header__search-input {
    flex:1;
    height: 100%;
    color: var(--text-color);
    font-size: 1.4rem;
    outline: none;
    border: none;
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-select {
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select:hover 
.header__search-option {
    display: block;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: #4a4a4a;
    margin: 0 10px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    margin-right: 4px;
    border-radius: 2px;
    width: 60px;
}

.header__search-btn:hover {
    background-color: #fb6445;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-option {
    position: absolute;
    right: 0;
    top: 100%;
    width: 126px;
    box-shadow: 0 1px 3px #ccc;
    padding: 0;
    border-radius: 3px;
    display: none;
    animation: Time-qr ease-in 0.1s;
}

.header__search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    top: -15px;
    left: 0;
}

.header__search-option-item {
    background-color: var(--white-color);
    border-radius: 3px;
    padding: 8px 8px;
    list-style: none;
    border-radius: 3px;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}